*.iml
.gradle/
.gradle
.kotlin/
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
# server bordel
server/gradle-*.zip
server/uploads/
server/tmp-e2e/
server/server-data/
server/build/
server/.gradle/